<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <title>참치찾기</title>
</head>
<body>
    <h1>참치찾기</h1>
<form action="/find" method="get">    
    <p>이름<br><input class="name" type="text" name="name"></p>
    <div class=birth>
        <p>생년월일<br><input class="yy" type="text" name="y">년 <input class="md" type="text" name="m">월 <input class="md" type="text" name="d">일</p>        
    </div>
    <p>학교선택
        <select name="school">
            <option value="0" selected="selected">기본군사훈련단</option>
            <option value="1">군수1학교</option>
            <option value="2">군수2학교</option>
            <option value="3">정보통신학교</option>
            <option value="4">행정학교</option>
            <option value="5">방공포병학교</option>
        </select>
    </p>
    <br><input class="submit" type="submit" value="찾기">    
</form>
{% if msg %}
<script> alert("{{msg}}")</script>
{% endif %}
</body>
</html>